@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilo para barra de rolagem customizada */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #0f172a;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #581c87;
  border-radius: 4px;
}